

* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

img {
    width: 100%;
}
.card {
    width: 200px;
    height: 240px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    text-align: center;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card h2 {
    font-size: 15px;
}
.card p {
    font-size: 10px;
}
.social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}
.social i:hover{
    color: orangered;
}